In [7]:
the_base_of_triangle = 10 
print("the base of triangle",the_base_of_triangle)
the_height_of_triangle = 20 
print("the height of triangle",the_height_of_triangle)
area_of_the_triangle = 1/2*the_base_of_triangle*the_height_of_triangle
print("area of the triangle",area_of_the_triangle)

the base of triangle 10
the height of triangle 20
area of the triangle 100.0

In [13]:
Year = 2024
if(Year % 4)==0:
    if(Year % 100)==0:
        if(Year % 400)==0:
            print("{0} is a leap year".format(Year))
        else:
            print("{0} is not a leap year".format(Year))
    else:
        print("{0} is a leap year".format(Year))
else:
    print("{0} is not a leap year".format(Year))

2024 is a leap year

In [28]:
temperature_in_celsius=36
temperature_in_fahernheit=(temperature_in_celsius*9/5+32)
print("temperature in fahernheit",temperature_in_fahernheit)

temperature in fahernheit 96.8

In [26]:
temperature_in_fahernheit=54
temperature_in_celsius=(temperature_in_fahernheit-32)*5/9
print("temperature in celsius",temperature_in_celsius)

temperature in celsius 12.222222222222221